// Display list of posts
.blogpostlist {
  .allPosts {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 15px;
    flex: 1;
    justify-content: center;

    .singlepost {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      flex: 1;
      min-width: 250px;
      padding: 20px 40px;
      padding-bottom: 35px;
      flex-grow: 0;
      border: 1px solid #333;
      border-radius: 5px;
      background-color: #525252;
      opacity: 100%;
      color: rgb(255, 255, 255);
      font-size: 1.2rem;
      &:hover {
        opacity: 90%;
        cursor: pointer;
      }
      &:active {
        opacity: 100%;
      }
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        color: #e9e9e9;
        flex: 1;
      }
    }
  }
}

// Create new post
form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input,
  textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    background-color: #525252;
    color: #ffffff;
    &::placeholder {
      color: #b3b3b3;
    }
  }
  input {
    width: 15%;
  }

  textarea {
    min-height: 100px;
    height: 200px;
    max-width: 90%;
    width: 50%;
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}
//Response after creating post
.serverResponseGood {
  color: red;
  font-size: 1.2rem;
  text-align: center;
  opacity: 90%;
}
.serverResponseBad {
  color: rgb(0, 209, 0);
  font-size: 1.2rem;
  text-align: center;
  opacity: 90%;
}

// Error message
.error {
  color: #f44336;
  font-weight: bold;
}

//Delete post button
.deletePost {
  position: absolute;
  top: 8px;
  right: 10px;
  .deletePostButton {
    all: unset;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 6px;
    border-radius: 4px;
    background-color: #dc3545;
    box-shadow: 0 3px 0 darkred;

    &:hover {
      background-color: #ac1b2a;
    }
    &:active {
      background-color: #830000;
      box-shadow: none;
      top: 3px;
    }
  }
}
