.Navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  color: white;
  gap: 60px;
  margin-right: 20px;
  padding: 12px;

  .navHomepage,
  .navPosts,
  .navLogin {
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    background-color: #dc3545;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ac1b2a;
    }
  }

  .navHomepage {
  }

  .navPosts {
  }

  .navLogin {
    margin-right: 30px;
  }
}
