.Navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  color: white;
  gap: 60px;
  margin-right: 20px;
  padding: 14px;

  .navHomepage,
  .navPosts,
  .navLogin {
    all: unset;
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    background-color: #dc3545;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 0 darkred;
    position: relative;

    &:hover {
      background-color: #ac1b2a;
    }
    &:active {
      box-shadow: none;
      top: 3px;
    }
  }

  .navHomepage {
  }

  .navPosts {
  }

  .navLogin {
    margin-right: 30px;
  }
}
